// app global css in SCSS form
@font-face {
  font-family: cinzel-bold;
  src: url(./fonts/CinzelDecorative-Bold.ttf);
}
@font-face {
  font-family: cinzel-regular;
  src: url(./fonts/CinzelDecorative-Regular.ttf);
}
@font-face {
  font-family: dark-souls-bold;
  src: url(./fonts/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: dark-souls-regular;
  src: url(./fonts/OptimusPrinceps.ttf);
}
@font-face {
  font-family: dosis;
  src: url(./fonts/NotoSansSC-Regular.otf);
}

// declare a class which applies it
* {
  font-family: "dosis";
}
.cinz-bold {
  font-family: "cinzel-bold";
}
.cinz-reg {
  font-family: "cinzel-regular";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
